
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Star movie , movies and stars{% endblock %}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
  {#<link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">#}

</head>
<body>

{% include "./parts/navbar.html.twig" %}

<div class="container min-height-xxl">
    {% block main %}

    {% endblock %}
</div>

{% include "./parts/footer.html.twig" %}

<!--  Scripts-->
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="{{ asset('js/script.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>