<footer class="page-footer">
    <div class="container">
        <div class="row">

            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Liens</h5>
                <ul>
                   {#
                         <li><a class="grey-text text-lighten-3" href="{{ path('home') }}">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ path('about') }}">Qui sommes nous</a></li>

                   #}

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>{{ "now"|date("Y") }} Bucket-List</p>
        </div>
    </div>
</footer>