nav{
    background-color: #ff9f43;
}
body{
    background-image: url('../images/Cinema2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.whiteText{
    color:white;
}
#logo{
    margin-left: 50px;
    height:35px;
    margin-top: 15px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.card-item{
    margin:20px;
    max-width:250px;
    min-width: 170px;
    min-height: 300px;
}
.min-height-xxl{
    padding-top:125px;
    padding-bottom: 125px;
    min-height: 700px;

}
.appFlashs{
    position: fixed;
    top:70px;
    left:100px;
    z-index: 1;
}
em{
    font-size: 0.8em;
}
.m-l{
    margin:20px;
}
.btn-right{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
img{
    max-width: 450px;
}
.rating{
    display: flex;
    align-items: center;
}
.cont-detail-film{

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 4px;
}
.cont-detail-film:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.description-film{
    padding: 20px;
    background-color: rgba(255,159,67,0.9);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.genre-btn{
    background-color: black;
}

.genre-cont{
   margin-left: auto !important;
}
.form-cont{
    padding:50px !important;
}
form button{
    width: 100%;
}
.center{
    text-align: center;
}
.cont-review{
    background-color: white;
    border-radius: 4px;
    padding:20px;
    margin-top: 50px;
}


.card-content .genre-cont{
    display: flex;
    align-items: center;
}
form[name="appbundle_review"]{
    margin-bottom: 75px;
}
.header-comment{
    background-color: #FF9F43;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 4px!important;
    border-top-right-radius: 4px!important;
}